<div class="columns">
  <div class="column is-2 is-offset-4">
    <button
      class="button is-fullwidth is-rounded is-info"
      [disabled]="isComponentsSelected"
      (click)="onClickSwitch()"
    >
      Components
    </button>
  </div>
  <div class="column is-2">
    <button
      class="button is-fullwidth is-rounded is-warning"
      [disabled]="!isComponentsSelected"
      (click)="onClickSwitch()"
    >
      Radicals
    </button>
  </div>
</div>
<div class="block">
  <ng-template [ngIf]="isComponentsSelected" [ngIfElse]="radicalTags">
    <ng-template [ngIf]="components" [ngIfElse]="noComponents">
      <div class="tags are-large is-centered">
        <span
          *ngFor="let component of components"
          class="tag is-rounded is-light is-info ml-4 mr-4"
        >
          &nbsp;{{ component }}&nbsp;
        </span>
      </div>
    </ng-template>
    <ng-template #noComponents>
      <div class="has-text-centered has-text-weight-medium">
        No components, this is a radical kanji.
      </div>
    </ng-template>
  </ng-template>
  <ng-template #radicalTags>
    <div class="tags are-large is-centered">
      <span
        *ngFor="let radical of radicals"
        class="tag is-rounded is-light is-warning ml-4 mr-4"
      >
        &nbsp;{{ radical }}&nbsp;
      </span>
    </div>
  </ng-template>
  <ng-template [ngIf]="isRecursive">
    <div class="block has-text-centered">
      <span class="tag is-large is-rounded is-light is-danger">
        &nbsp;Recursive&nbsp;
      </span>
    </div>
  </ng-template>
  <ng-template [ngIf]="story">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <p class="is-size-4">
          {{ story }}
        </p>
      </div>
    </div>
  </ng-template>
</div>
