<div class="container mt-4 mb-4">
  <div class="columns is-multiline is-mobile is-centered">
    <div
      class="column has-text-centered"
      *ngFor="let collection of collections$ | async"
    >
      <app-collection-card
        [collection]="collection"
        [currentSelection]="vocabularyService.currentCollection"
        (collectionSelected)="changeCollection($event)"
      >
      </app-collection-card>
    </div>
  </div>
</div>

<app-word-table
  [words]="words"
  [currentPage]="vocabularyService.pageNumber!"
  [totalPages]="totalPages"
  [totalWords]="totalWords"
  [isWordFetchLoading]="isWordFetchLoading"
  (clickedPreviousPage)="changeToPreviousPage()"
  (clickedNextPage)="changeToNextPage()"
  (clickedFirstPage)="changeToFirstPage()"
  (clickedLastPage)="changeToLastPage()"
>
</app-word-table>
