<div class="container mt-4 mb-4">
  <div class="columns is-multiline is-mobile is-centered">
    <div
      class="column has-text-centered"
      *ngFor="let collection of collections$ | async"
    >
      <app-collection-card
        [collection]="collection"
        [currentSelection]="vocabularyService.currentCollection"
        (collectionSelected)="changeCollection($event)"
      >
      </app-collection-card>
    </div>
  </div>
</div>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <div class="field has-addons">
        <div class="control">
          <input
            [(ngModel)]="filter"
            (ngModelChange)="onChangeFilter($event)"
            class="input"
            type="text"
            placeholder="Filter word"
          >
        </div>
        <div class="control">
          <button
            [disabled]="!filter"
            (click)="applyFilter()"
            class="button is-info"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <app-csv-button
        [currentSelection]="vocabularyService.currentCollection"
      >
      </app-csv-button>
    </div>
  </div>
</div>
<app-word-table
  [words]="words"
  [currentPage]="vocabularyService.pageNumber!"
  [totalPages]="totalPages"
  [totalWords]="totalWords"
  [isWordFetchLoading]="isWordFetchLoading"
  (clickedPreviousPage)="changeToPreviousPage()"
  (clickedNextPage)="changeToNextPage()"
  (clickedFirstPage)="changeToFirstPage()"
  (clickedLastPage)="changeToLastPage()"
>
</app-word-table>
