<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile">
      <div class="tile is-parent is-9 is-vertical">
        <div class="tile is-child has-text-centered-mobile">
          <span class="title is-1 is-inline-block character has-text-danger">
            {{ title }}
          </span>
          <span *ngIf="hiragana" class="subtitle is-3 ml-4 is-hidden-mobile">
            ( {{ hiragana }} )
          </span>
        </div>
        <div class="tile is-child has-text-centered-mobile">
          <p class="is-italic is-lowercase is-size-3">
            {{ fullType }}
          </p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child has-text-centered">
          <p class="title is-4">
            {{ level }}
          </p>
          <figure class="image is-96x96 is-inline-block" id="level-figure">
            <span> #TODO </span>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
