<ol class="is-size-4 ml-6">
  <ng-container *ngFor="let section of notes">
    <li class="mb-2">
      <div class="is-size-4">({{ section.explanation }})</div>
      <div *ngIf="section.examples">
        <ul>
          <ng-container *ngFor="let example of section.examples">
            <li>
              <app-example-sentence
                [components]="example.sentence"
              ></app-example-sentence>
              <div class="is-size-5">({{ example.translation }})</div>
            </li>
          </ng-container>
        </ul>
      </div>
    </li>
  </ng-container>
</ol>
