<ng-container [formGroup]="formGroup!">
  <div class="field is-horizontal mt-4">
    <div class="field-label">
      <label class="label">Tags</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="columns is-centered is-multiline is-mobile">
          <div
            *ngFor="let tag of tags"
            class="column is-2-desktop has-text-centered"
          >
            <span
              [ngClass]="{
                'is-white': !getTagValue(tag),
                'is-warning': getTagValue(tag)
              }"
              (click)="onClickTag(tag)"
              class="tag is-medium is-rounded is-capitalized px-5"
            >
              {{ tag }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
