<div class="section">
  <div class="block">
    <button (click)="onClickBack()" class="button is-info">
      Back To Clauses
    </button>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent is-9 is-vertical">
          <div class="tile is-child has-text-centered-mobile">
            <span class="title is-1 is-inline-block character">
              {{ clause?.title }}
            </span>
            <span *ngIf="clause?.hiragana" class="subtitle is-3 ml-4">
              ( {{ clause?.hiragana }} )
            </span>
          </div>
          <div class="tile is-child has-text-centered-mobile">
            <p class="subtitle is-2">
              {{ clause?.translation }}
            </p>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="tile is-child has-text-centered">
            <p class="title is-4">
              {{ clause?.level }}
            </p>
            <figure class="image is-96x96 is-inline-block" id="level-figure">
              <span> #TODO </span>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
