<div *ngFor="let expression of related">
  <span class="subtitle is-3 has-text-weight-semibold">
    {{ expression.title }}
  </span>
  <span *ngIf="expression.hiragana" class="subtitle is-4 ml-2 is-hidden-mobile">
    ({{ expression.hiragana! }})
  </span>
  <button *ngIf="expression.reference" class="button ml-2 is-info">
    Go to reference
  </button>
  <ol class="is-size-4 ml-6">
    <ng-container *ngFor="let section of expression.sections">
      <li class="my-4">
        <div class="is-size-4">{{ section.explanation }}</div>
        <div *ngIf="section.examples">
          <ul>
            <ng-container *ngFor="let example of section.examples">
              <li class="my-2">
                <app-example-sentence
                  [components]="example.sentence"
                ></app-example-sentence>
                <div class="is-size-5">({{ example.translation }})</div>
              </li>
            </ng-container>
          </ul>
        </div>
      </li>
    </ng-container>
  </ol>
</div>
