<div [formGroup]="form!" class="mt-4">
  <div class="columns is-centered is-mobile is-multiline">
    <div *ngFor="let subtype of subTypes" class="column has-text-centered">
      <figure
        (click)="onClickCell(subtype)"
        [ngClass]="{
          'common-cell': getCellValue(subtype) === 1,
          'rare-cell': getCellValue(subtype) === 2,
          'extra-cell': getCellValue(subtype) > 2
        }"
        class="image is-64x64 is-inline-block"
      >
        <div>
          {{ getValueText(getCellValue(subtype), subtype) }}
        </div>
      </figure>
    </div>
  </div>
</div>
