<ng-container [formGroup]="formGroup!">
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static"> Sentence </a>
    </div>
    <div class="control is-expanded mb-4">
      <input
        [ngClass]="{
          'is-danger': sentenceControl.touched && sentenceControl.invalid
        }"
        formControlName="sentence"
        class="input"
        type="text"
        placeholder="Enter Japanese sentence"
      />
      <div class="columns is-vcentered">
        <div class="column is-one-third">
          <div class="buttons are-small mb-0 mt-2">
            <button
              (click)="addFormatToSentence(1)"
              class="button is-light is-danger"
              type="button"
            >
              Grammatical
            </button>
            <button
              (click)="addFormatToSentence(2)"
              class="button is-light is-link"
              type="button"
            >
              Bold
            </button>
            <button
              (click)="addFormatToSentence(3)"
              class="button is-light is-warning"
              type="button"
            >
              Incorrect
            </button>
          </div>
        </div>
        <div class="column">
          <p
            *ngIf="
              sentenceControl.touched && sentenceControl.invalid;
              else formatted
            "
            class="help is-danger"
          >
            Sentence is required!
          </p>
          <ng-template #formatted>
            <app-example-sentence
              [components]="getFormattedComponents()"
              sizeClass="is-size-5"
            ></app-example-sentence>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static"> Translation </a>
    </div>
    <div class="control is-expanded mb-4">
      <input
        [ngClass]="{
          'is-danger': translationControl.touched && translationControl.invalid
        }"
        formControlName="translation"
        class="input mb-1"
        type="text"
        placeholder="Enter translation sentence"
      />
      <p
        *ngIf="translationControl.touched && translationControl.invalid"
        class="help is-danger mb-1"
      >
        Translation sentence is required!
      </p>
    </div>
  </div>
</ng-container>
