<div class="section">
  <div class="block">
    <button (click)="onClickBack()" class="button is-info">
      Back To Words
    </button>
  </div>
  <div *ngIf="word && collection">
    <app-word-details-main-info [word]="word.word" [hiragana]="word.hiragana"
                                [spanish]="word.spanish" [collection]="collection">
    </app-word-details-main-info>
    <app-word-details-type-table [type]="word.type"></app-word-details-type-table>
    <div *ngIf="word.tags" class="block mt-4">
      <app-word-details-tags [tags]="word.tags"></app-word-details-tags>
    </div>
    <div *ngIf="word.notes" class="block has-text-centered mt-4">
      <p class="subtitle is-4">
        {{ word.notes }}
      </p>
    </div>
    <div *ngIf="word.sentences" class="block">
      <div *ngFor="let sentence of word.sentences" class="block">
        <p class="title is-4">
          {{ sentence.sentence }}
        </p>
        <p class="subtitle is-4">
          {{ sentence.translation }}
        </p>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="buttons">
      <button (click)="onClickEdit()" class="button is-info">Edit</button>
      <button (click)="onClickDelete()" class="button is-danger">Delete</button>
    </div>
  </div>
  <app-word-details-delete-modal
    #deleteModal
    [id]="id"
    [word]="word?.word"
  >
  </app-word-details-delete-modal>
</div>
