i {
  color: grey;
}

.is-active {
  color: black;
  cursor: pointer;
}

#pagination-container {
  background-color: #f8f8f8;
  border: #bcbec1 1px solid;
  border-top: none;
  padding-right: 4%;
  font-size: 14px;
}

#to-first-page {
  margin-left: 1%;
  margin-right: 1%;
}

#previous-page {
  margin-right: 1%;
}

#next-page {
  margin-left: 1%;
}

#to-last-page {
  margin-left: 1%;
  margin-right: 1%;
}
