<ng-container [formGroup]="formGroup!">
  <div class="columns is-vcentered mb-0">
    <div class="column is-two-thirds">
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static"> Explanation </a>
        </div>
        <div class="control is-expanded">
          <textarea
            [ngClass]="{
              'is-danger':
                explanationControl!.touched && explanationControl!.invalid
            }"
            formControlName="explanation"
            rows="4"
            class="input"
            type="text"
            placeholder="Enter explanation"
          ></textarea>
          <p
            *ngIf="explanationControl!.touched && explanationControl!.invalid"
            class="help is-danger mb-1"
          >
            Explanation is required!
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="columns">
        <div class="column">
          <button
            (click)="pushExample()"
            class="button is-link is-light is-fullwidth"
            type="button"
          >
            Add Example
          </button>
        </div>
        <div class="column">
          <button
            (click)="popExample()"
            class="button is-warning is-light is-fullwidth"
            type="button"
          >
            Remove Example
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    *ngFor="let exampleControl of this.examplesArray!.controls; let i = index"
  >
    <app-add-clause-form-clause-example
      [control]="exampleControl"
    ></app-add-clause-form-clause-example>
  </div>
</ng-container>
