<ng-container [formGroup]="form!">
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Notes</label>
    </div>
    <div class="field-body">
      <div class="field">
        <button
          (click)="pushSection()"
          class="button is-link mr-4"
          type="button"
        >
          Add Section
        </button>
        <button
          (click)="popSection()"
          class="button is-warning mr-4"
          type="button"
        >
          Remove Section
        </button>
        <div formArrayName="notes" class="mt-4">
          <div *ngFor="let control of formArray!.controls; let i = index">
            <label class="label"> Section {{ i + 1 }} </label>
            <app-add-clause-form-section
              [control]="control"
            ></app-add-clause-form-section>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
