<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="https://bulma.io/images/bulma-logo.png"
        width="112"
        height="28"
        alt="bulma"
      />
    </a>

    <a
      role="button"
      class="navbar-burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div *ngIf="isAuthenticated()" class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="onClickVocabulary()"> Vocabulary </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="onClickAddWord()"> Add Word </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="onClickKanji()"> Kanji </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="onClickAddKanji()"> Add Kanji </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="onClickGrammar()"> Grammar </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="onClickAddClause()"> Add Clause </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <button *ngIf="!isAuthenticated()" class="button is-primary" disabled>
            <strong>Sign up</strong>
          </button>
          <button *ngIf="!isAuthenticated()" class="button is-light" disabled>
            <strong>Log in</strong>
          </button>
          <button
            *ngIf="isAuthenticated()"
            (click)="onClickLogout()"
            class="button is-danger"
          >
            <strong>Log Out</strong>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
