<div class="container mx-6 mt-5">
  <app-kanji-detail-header
    [id]="id"
    [v1]="v1!"
    [isKanjiLoading]="isLoading"
    (clickPrevious)="getPreviousKanji()"
    (clickNext)="getNextKanji()"
  ></app-kanji-detail-header>
</div>
<ng-template *ngIf="isLoading; else details">
  <div class="container mx-6 my-5">
    <h1>Loading...</h1>
  </div>
</ng-template>
<ng-template #details>
  <div class="container mt-5">
    <app-kanji-detail-info
      [kanji]="fullKanji!.kanji"
      [spanish]="fullKanji!.spanish"
      [on]="fullKanji!.on"
      [kun]="fullKanji!.kun"
    ></app-kanji-detail-info>
  </div>
  <div class="container mt-5">
    <app-kanji-detail-radicals
      [components]="fullKanji!.components"
      [radicals]="fullKanji!.radicals"
      [isRecursive]="fullKanji!.recursive"
      [story]="fullKanji!.story"
    >
    </app-kanji-detail-radicals>
  </div>
</ng-template>
