<ng-template *ngIf="isLoading; else details">
  <div class="container mx-6 my-5">
    <h1>Loading...</h1>
  </div>
</ng-template>
<ng-template #details>
  <div class="container mx-6 mt-5">
    <div class="buttons">
      <button (click)="onClickBack()" class="button is-info">
        Back To Kanji
      </button>
    </div>
  </div>
  <div class="container mt-5">
    <app-kanji-detail-info
      [kanji]="fullKanji!.kanji"
      [spanish]="fullKanji!.spanish"
      [on]="fullKanji!.on"
      [kun]="fullKanji!.kun"
    ></app-kanji-detail-info>
  </div>
</ng-template>
