@import "src/styles";

figure {
  border: 3px solid;
  border-radius: 8px;
}

figure > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  font-size: 20px;
}

.field-body {
  flex-grow: 10;
}

.common-cell {
  background-color: $green-cell;
}

.rare-cell {
  background-color: $orange-cell;
}

.extra-cell {
  background-color: $lilac-cell;
}
