
<div class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title is-1 mr-6">
          {{ word!.word }}
        </p>
      </div>
      <div
        *ngIf="word!.hiragana"
        class="level-item"
      >
        <p class="subtitle is-3">
          ( {{ word!.hiragana }} )
        </p>
      </div>
    </div>
  </div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="subtitle is-2 mr-6">
          {{ word!.spanish! }}
        </p>
      </div>
    </div>
  </div>
  <div class="level">
    <div
      *ngFor="let subtype of subtypes"
      class="level-item"
    >
      <figure
        [ngClass]="{
          'common-cell': getCellValue(subtype) === 1,
          'rare-cell': getCellValue(subtype) === 2,
          'extra-cell': getCellValue(subtype) > 2
        }"
        class="image is-64x64 is-inline-block"
      >
        <div>
          {{ getValueText(getCellValue(subtype), subtype) }}
        </div>
      </figure>
    </div>
  </div>
</div>

{{ getword() }}
