
<div class="section">
  <div class="block">
    <button
      (click)="onClickBack()"
      class="button is-info"
    >
      Back To Words
    </button>
  </div>
  <div class="tile is-ancestor">
    <div class="tile is-vertical">
      <div class="tile">
        <div class="tile is-parent is-9 is-vertical">
          <div class="tile is-child has-text-centered-mobile">
            <span class="title is-1">
              {{ word?.word }}
            </span>
            <span
              *ngIf="word?.hiragana"
              class="subtitle is-3"
            >
              ( {{ word?.hiragana }} )
            </span>
          </div>
          <div class="tile is-child has-text-centered-mobile">
            <p class="subtitle is-2">
              {{ word?.spanish }}
            </p>
          </div>
        </div>
        <div class="tile is-parent">
          <div
            *ngIf="collection"
            class="tile is-child has-text-centered"
          >
            <p class="title is-4">
              {{ collection.printing_name}}
            </p>
            <figure
              class="image is-96x96 is-inline-block"
              id="collection-figure">
              <img
                [src]="collection!.image_url"
                [alt]="collection!.printing_name"
              >
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns is-centered is-mobile is-multiline">
    <div
      *ngFor="let subtype of subtypes"
      class="column has-text-centered"
    >
      <figure
        [ngClass]="{
          'common-cell': getCellValue(subtype) === 1,
          'rare-cell': getCellValue(subtype) === 2,
          'extra-cell': getCellValue(subtype) > 2
        }"
        class="image is-64x64 is-inline-block"
      >
        <div>
          {{ getSubtypeValueText(getCellValue(subtype), subtype) }}
        </div>
      </figure>
    </div>
  </div>
  <div
    *ngIf="word?.tags"
    class="tags are-large is-centered"
  >
    <span
      *ngFor="let tag of tags"
      [ngClass]="{
        'is-success': tag === 'common',
        'is-info': tag === 'expression' || tag === 'usually_kana' || tag === 'jlpt_n1',
        'is-warning': tag === 'honorific' || tag === 'humble',
        'is-danger': tag === 'joyogai' || tag === 'ateji',
        'is-link': tag === 'intransitive' || tag === 'transitive',
        'is-primary': tag === 'onomatopeic'
      }"
      class="tag is-rounded ml-2 mr-2"
    >
      {{ getTagValueText(tag) }}
    </span>
  </div>
  <div
    *ngIf="word?.notes"
    class="block has-text-centered"
  >
    <p class="subtitle is-4">
      {{ word?.notes }}
    </p>
  </div>
  <div
    *ngIf="word?.sentences"
    class="block"
  >
    <div *ngFor="let sentence of word?.sentences" class="block">
      <p class="title is-4">
        {{ sentence.sentence }}
      </p>
      <p class="subtitle is-4">
        {{ sentence.translation }}
      </p>
    </div>
  </div>
  <div class="block">
    <div class="buttons">
      <button
        (click)="onClickEdit()"
        class="button is-info"
      >
        Edit
      </button>
      <button class="button is-danger">
        Delete
      </button>
    </div>
  </div>
</div>
