
<div class="section">
  <div class="block has-text-centered-mobile">
    <span class="title is-1 mr-4">
      {{ word?.word }}
    </span>
    <span
      *ngIf="word?.hiragana"
      class="subtitle is-3"
    >
      ( {{ word?.hiragana }} )
    </span>
  </div>
  <div class="block has-text-centered-mobile">
    <p class="subtitle is-2 mr-6">
      {{ word?.spanish }}
    </p>
  </div>
  <div class="columns is-centered is-mobile is-multiline">
    <div
      *ngFor="let subtype of subtypes"
      class="column has-text-centered"
    >
      <figure
        [ngClass]="{
          'common-cell': getCellValue(subtype) === 1,
          'rare-cell': getCellValue(subtype) === 2,
          'extra-cell': getCellValue(subtype) > 2
        }"
        class="image is-64x64 is-inline-block"
      >
        <div>
          {{ getSubtypeValueText(getCellValue(subtype), subtype) }}
        </div>
      </figure>
    </div>
  </div>
  <div
    *ngIf="word?.tags"
    class="tags are-large is-centered"
  >
    <span
      *ngFor="let tag of tags"
      [ngClass]="{
        'is-success': tag === 'common',
        'is-info': tag === 'expression' || tag === 'usually_kana' || tag === 'jlpt_n1',
        'is-warning': tag === 'honorific' || tag === 'humble',
        'is-danger': tag === 'joyogai' || tag === 'ateji',
        'is-link': tag === 'intransitive' || tag === 'transitive',
        'is-primary': tag === 'onomatopeic'
      }"
      class="tag is-rounded ml-2 mr-2"
    >
      {{ getTagValueText(tag) }}
    </span>
  </div>
  <div
    *ngIf="word?.notes"
    class="block has-text-centered"
  >
    <p class="subtitle is-4">
      {{ word?.notes }}
    </p>
  </div>
  <div *ngIf="word?.sentences">
    <div *ngFor="let sentence of word?.sentences" class="block">
      <p class="title is-4">
        {{ sentence.sentence }}
      </p>
      <p class="subtitle is-4">
        {{ sentence.translation }}
      </p>
    </div>
  </div>
</div>
