<div [formGroup]="form!">
  <div class="field mb-2">
    <button (click)="pushSentence()" class="button mr-4" type="button">
      Add Sentence
    </button>
    <button
      (click)="popSentence()"
      class="button is-warning mr-4"
      type="button"
    >
      Remove Sentence
    </button>
  </div>
  <div formArrayName="sentences">
    <div *ngFor="let control of controls; let i = index">
      <label class="label">Sentence {{ i + 1 }}</label>
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static"> Japanese </a>
        </div>
        <div [formGroupName]="i" class="control is-expanded mb-4">
          <input
            [ngClass]="{
              'is-danger':
                getJapaneseControl(i).touched && getJapaneseControl(i).invalid
            }"
            formControlName="japanese"
            class="input mb-1"
            type="text"
            placeholder="Enter Japanese sentence"
          />
          <p
            *ngIf="
              getJapaneseControl(i).touched && getJapaneseControl(i).invalid
            "
            class="help is-danger mb-1"
          >
            Japanese sentence is required!
          </p>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static"> Translation </a>
        </div>
        <div [formGroupName]="i" class="control is-expanded mb-4">
          <input
            [ngClass]="{
              'is-danger':
                getTranslationControl(i).touched &&
                getTranslationControl(i).invalid
            }"
            formControlName="translation"
            class="input mb-1"
            type="text"
            placeholder="Enter translation sentence"
          />
          <p
            *ngIf="
              getTranslationControl(i).touched &&
              getTranslationControl(i).invalid
            "
            class="help is-danger mb-1"
          >
            Translation sentence is required!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
