<form [formGroup]="editWordForm" (ngSubmit)="onSubmit()" class="box">
  <div class="field is-horizontal">
    <div class="field-label"></div>
    <div class="field-body">
      <h1 class="title is-4">{{ fullWord!.word }}</h1>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Hiragana</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            formControlName="hiragana"
            class="input"
            type="text"
            placeholder="Enter hiragana (optional)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Spanish</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            formControlName="spanish"
            class="input"
            type="text"
            placeholder="Enter Spanish translation"
          />
        </div>
      </div>
    </div>
  </div>
  <app-add-word-form-type-field [formGroup]="getFormGroup('type')">
  </app-add-word-form-type-field>
  <app-add-word-form-tags-field [formGroup]="getFormGroup('tags')">
  </app-add-word-form-tags-field>
  <app-add-word-form-notes-field [formGroup]="editWordForm">
  </app-add-word-form-notes-field>
  <app-add-word-form-collection-field [formGroup]="editWordForm">
  </app-add-word-form-collection-field>
  <app-add-word-form-sentences-field
    [formGroup]="editWordForm"
    [formArray]="getFormArray('sentences')"
  ></app-add-word-form-sentences-field>
  <app-add-word-form-submit-field [formGroup]="editWordForm">
  </app-add-word-form-submit-field>
</form>
