<form [formGroup]="addClauseForm" (ngSubmit)="onSubmit()" class="box">
  <app-add-clause-form-title
    [formGroup]="addClauseForm"
  ></app-add-clause-form-title>
  <app-add-clause-form-type
    [formGroup]="getFormGroup('type')"
  ></app-add-clause-form-type>
  <app-add-clause-form-tags
    [formGroup]="getFormGroup('tags')"
  ></app-add-clause-form-tags>
  <app-add-clause-form-definition></app-add-clause-form-definition>
  <app-add-clause-form-keys></app-add-clause-form-keys>
  <app-add-clause-form-formations></app-add-clause-form-formations>
  <app-add-clause-form-examples-field></app-add-clause-form-examples-field>
  <app-add-clause-form-notes></app-add-clause-form-notes>
  <app-add-clause-form-related></app-add-clause-form-related>
  <app-add-clause-form-submit-button></app-add-clause-form-submit-button>
</form>
