<div class="container mt-4 mb-5">
  <p class="title is-2">Kanji irregular components</p>
</div>

<div class="container mb-5">
  <button class="button is-info" (click)="onClickAddComponent()">
    Add Irregular Component
  </button>
</div>

<div class="container mb-5">
  <app-kanji-irregular-components-tags [components]="components">
  </app-kanji-irregular-components-tags>
</div>

<app-kanji-irregular-components-add-modal
  (componentAdded)="getComponents()"
  #addModal
>
</app-kanji-irregular-components-add-modal>
