<div class="container mt-4 mb-5">
  <p class="title is-2">Kanji search by components / radicals</p>
</div>

<div class="container mb-5">
  <app-kanji-radicals-search
    [isComponentMode]="isComponentMode"
    (modeSwitched)="switchMode()"
    (componentSelected)="addComponent($event)"
  ></app-kanji-radicals-search>
</div>

<div class="container mb-5">
  <app-kanji-radicals-tags
    [components]="components"
    (componentDeselected)="removeComponent($event)"
  >
  </app-kanji-radicals-tags>
</div>

<div class="container mb-5">
  <app-kanji-radicals-cards [kanjis]="compactedKanjis">
  </app-kanji-radicals-cards>
</div>
