<form
  [formGroup]="addWordForm"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="$event.preventDefault()"
  class="box"
>
  <app-add-word-form-word-field [formGroup]="addWordForm">
  </app-add-word-form-word-field>
  <app-add-word-form-spanish-field [formGroup]="addWordForm">
  </app-add-word-form-spanish-field>
  <app-add-word-form-type-field [formGroup]="getFormGroup('type')">
  </app-add-word-form-type-field>
  <app-add-word-form-tags-field [formGroup]="getFormGroup('tags')">
  </app-add-word-form-tags-field>
  <app-add-word-form-notes-field [formGroup]="addWordForm">
  </app-add-word-form-notes-field>
  <app-add-word-form-collection-field [formGroup]="addWordForm">
  </app-add-word-form-collection-field>
  <app-add-word-form-sentences-field
    [formGroup]="addWordForm"
    [formArray]="getFormArray('sentences')"
  ></app-add-word-form-sentences-field>
  <app-add-word-form-submit-field [formGroup]="addWordForm">
  </app-add-word-form-submit-field>
</form>
