<div class="field has-addons">
  <div class="control">
    <input
      [(ngModel)]="filter"
      (ngModelChange)="onChangeFilter($event)"
      class="input"
      type="text"
      placeholder="Filter kanji"
    >
  </div>
  <div class="control">
    <button
      [disabled]="!filter"
      (click)="applyFilter()"
      class="button is-info"
    >
      Search
    </button>
  </div>
</div>
<app-kanji-table
  [kanjis]="kanjis"
  [currentPage]="kanjiService.pageNumber!"
  [totalPages]="totalPages"
  [totalKanjis]="totalKanjis"
  [isKanjiFetchLoading]="isKanjiFetchLoading"
  (clickedPreviousPage)="changeToPreviousPage()"
  (clickedNextPage)="changeToNextPage()"
  (clickedFirstPage)="changeToFirstPage()"
  (clickedLastPage)="changeToLastPage()"
>
</app-kanji-table>
