<div class="container m-5">
  <div class="container mb-5">
    <span class="title mr-4">Edit Kanji</span>
    <button (click)="onClickCancel()" class="button is-info">
      Back To Kanji
    </button>
  </div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="box">
      <app-add-kanji-form-main-field [formGroup]="form">
      </app-add-kanji-form-main-field>
      <app-add-kanji-form-components-field [formArray]="componentsFormArray">
      </app-add-kanji-form-components-field>
      <app-add-kanji-form-story-field [formGroup]="form">
      </app-add-kanji-form-story-field>
    </form>
  </div>
</div>
