@charset "utf-8";

$lilac-cell: #fad7ff;
$green-cell: #abff97;
$orange-cell: #ffdea6;
// $primary: $purple;

@import "node_modules/bulma/bulma";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/ag-grid-community/dist/styles/ag-grid";
@import "node_modules/ag-grid-community/dist/styles/ag-theme-alpine";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.ag-theme-alpine {
  //alpine-active-color: deeppink
  @include ag-theme-alpine(());
}

.on-yomi {
  color: #800000;
}

.kun-yomi {
  color: #000080;
}
