@charset "utf-8";

$lilac-cell: #fad7ff;
$green-cell: #abff97;
$orange-cell: #ffdea6;
// $primary: $purple;

@import "node_modules/bulma/bulma";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/ag-grid-community/styles/ag-grid.css";
@import "node_modules/ag-grid-community/styles/ag-theme-alpine.css";

.ag-theme-alpine {
  //alpine-active-color: deeppink
}

.ng-autocomplete {
  width: 100% !important;
}

.panel-icon {
  vertical-align: middle;
}

.is-flex-grow-6 {
  flex-grow: 6;
}

.is-flex-grow-8 {
  flex-grow: 8;
}

.on-yomi {
  color: #800000;
}

.kun-yomi {
  color: #000080;
}
