<ng-container [formGroup]="formGroup!">
  <div class="field is-horizontal mt-4">
    <div class="field-label">
      <label class="label">Definition</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            [ngClass]="{
              'is-danger': control!.touched && control!.invalid
            }"
            formControlName="definition"
            class="input"
            type="text"
            placeholder="Enter definition"
          />
        </div>
        <p *ngIf="control!.touched && control!.invalid" class="help is-danger">
          Definition is required!
        </p>
      </div>
    </div>
  </div>
</ng-container>
