<form [formGroup]="editClauseForm" (ngSubmit)="onSubmit()" class="box">
  <app-add-clause-form-title
    [formGroup]="editClauseForm"
  ></app-add-clause-form-title>
  <app-add-clause-form-type
    [formGroup]="getFormGroup('type')"
  ></app-add-clause-form-type>
  <app-add-clause-form-tags
    [formGroup]="getFormGroup('tags')"
  ></app-add-clause-form-tags>
  <app-add-clause-form-definition
    [formGroup]="editClauseForm"
  ></app-add-clause-form-definition>
  <app-add-clause-form-keys
    [formGroup]="editClauseForm"
    [formArray]="getFormArray('keys')"
  ></app-add-clause-form-keys>
  <app-add-clause-form-formations
    [formGroup]="editClauseForm"
    [formArray]="getFormArray('formations')"
  ></app-add-clause-form-formations>
  <app-add-clause-form-examples-field
    [formGroup]="editClauseForm"
    [formArray]="getFormArray('examples')"
  ></app-add-clause-form-examples-field>
  <app-add-clause-form-notes
    [formGroup]="editClauseForm"
    [formArray]="getFormArray('notes')"
  ></app-add-clause-form-notes>
  <app-add-clause-form-related
    [formGroup]="editClauseForm"
    [formArray]="getFormArray('related')"
  ></app-add-clause-form-related>
  <app-add-clause-form-submit-button
    [formGroup]="editClauseForm"
  ></app-add-clause-form-submit-button>
</form>
