<ng-container [formGroup]="formGroup!">
  <div class="field is-horizontal is-align-items-center">
    <div class="field-label">
      <label class="label">On Reading</label>
    </div>
    <div class="field-body is-flex-grow-8">
      <div class="field">
        <div class="control">
          <input
            formControlName="on"
            class="input"
            type="text"
            placeholder="Enter On Reading (optional)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal is-align-items-center">
    <div class="field-label">
      <label class="label">Kun Reading</label>
    </div>
    <div class="field-body is-flex-grow-8">
      <div class="field">
        <div class="control">
          <input
            formControlName="kun"
            class="input"
            type="text"
            placeholder="Enter Kun Reading (optional)"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal is-align-items-center">
    <div class="field-label">
      <label class="label">Spanish</label>
    </div>
    <div class="field-body is-flex-grow-8">
      <div class="field">
        <div class="control">
          <input
            [ngClass]="{ 'is-danger': isSpanishInvalid }"
            formControlName="spanish"
            class="input"
            type="text"
            placeholder="Enter Spanish"
          />
          <p *ngIf="isSpanishInvalid" class="help is-danger">
            Printing name is required!
          </p>
        </div>
      </div>
    </div>
  </div>
</ng-container>
